$palette-purple: (
  lighter: #e4d3ff,
  light: #b68fff,
  medium: #6e00ff,
  dark: #381f96,
  darker: #0b082b
) !default;

$palette-pink: (
  lighter: #ffcaca,
  light: #ff949a,
  medium: #ff587d,
  dark: #cc262e,
  darker: #370057
) !default;


$palette-aqua: (
  lighter: #d3efff,
  light: #72d6e7,
  medium: #20b2aa,
  dark: #0196aa,
  darker: #005498
) !default;
