@use 'sass:string';

$font-family: (
  monospace: string.unquote("'Source Code Pro', monospace"),
  display: string.unquote("'Audiowide', serif"),
  paragraph: string.unquote("'Fira Mono', 'Courier New', Courier, monospace")
) !default;

$font-size: (
  sm: 0.8em,
  md: 1em,
  lg: 2em
) !default;
