@use 'sass:map';
@use '~@styles/breakpoint';

@import '~@styles/theme';

$color: #fff;
$font-size-sm: 1.2rem;
$font-size-md: 1.4rem;
$font-size-lg: 1.5rem;
$height: 60px;

.nav {
  z-index: 1;
  height: $height;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  top: 15px;
  left: 15px;
  right: 15px;
}

.link {
  color: $overlay-color;
  display: flex;
  fill: $color;
  font-family: map.get($font-family, 'monospace');
  font-size: $font-size-lg;
  padding: 10px 0;
  margin: 0 15px;
  text-decoration: none;
  transform-origin: center center 0;

  &.active { color: red }

  > span {
    align-items: center;
    display: inline-flex;
    transform: scale(0.85);
  }
}

@include breakpoint.down('tablet') {
  .nav { justify-content: center; }

  .link { font-size: $font-size-md; }
}

@include breakpoint.down('phone') {
  .link { font-size: $font-size-sm; }
}

