@use 'sass:map';
@use '~@styles/breakpoint';

@import '~@styles/variables';

$font-size: 2rem;
$height-sm: 40px;
$height-lg: 50px;

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  left: 15px;
  mix-blend-mode: difference;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 1;
}

.link {
  color: $color-highlight;
  display: flex;
  text-decoration: none;

  &.active {
    animation: shake 100ms infinite linear;

    svg text {
      filter: url('#anaglyph');
      transform: scale(1) !important;
    }
  }

  &::before {
    content: '•';
    display: block;
    font-size: #{$font-size * 0.75};
    line-height: #{$height-lg * 0.9};
  }

  &:first-child::before { display: none; }

  svg {
    height: $height-lg;
  }

  text {
    fill: $color-highlight;
    font-family: map.get($font-family, 'monospace');
    font-size: $font-size;
    transform: scale(0.9);
    transform-origin: center center 0;
  }
}

@include breakpoint.down('phone') {
  .nav { justify-content: center; }

  .link {
    &::before {
      line-height: #{$height-sm * 0.9};
    }

    svg {
      height: $height-sm;
    }
  }
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }
}
