.nav {
  --nav-font-size: 2em;
  --nav-height-sm: 40px;
  --nav-height-lg: 50px;

  position: fixed;
  top: 15px;
  left: 15px;
  right: 15px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  mix-blend-mode: difference;
}

.link {
  display: flex;
  text-decoration: none;
  color: var(--color-highlight);

  &.active {
    animation: shake 100ms infinite linear;

    & svg text {
      transform: scale(1) !important;
      filter: url(#anaglyph);
    }
  }

  &::before {
    display: block;
    content: '•';
    line-height: calc(var(--nav-height-lg) * 0.9);
    font-size: calc(var(--nav-font-size) * 0.75);
  }

  &:first-child::before { display: none; }

  & svg {
    height: var(--nav-height-lg);
  }

  & text {
    font-family: 'Source Code Pro', monospace;
    font-size: var(--nav-font-size);
    fill: var(--color-highlight);
    transform: scale(0.9);
    transform-origin: center center 0;
  }
}

@media (--screen-sm) {
  .nav { justify-content: center; }

  .link {
    &::before {
      line-height: calc(var(--nav-height-sm) * 0.9);
    }

    & svg {
      height: var(--nav-height-sm);
    }
  }
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }
}
