@use 'sass:map';
@use '~@styles/breakpoint';

@import '~@styles/theme';

.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: auto;
  max-height: 100%;
  max-width: $content-width;
  perspective: 100vw;

  :global(.icon) {
    fill: $content-color;
    filter: drop-shadow(1.5px 1.5px 0 $content-highlight);
    height: 18px;
    margin-right: 10px;
  }
}

.repo {
  background: $content-bg;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  width: 100%;

  @include breakpoint.up('tablet') {
    > * { padding: 0 25px; }

    > *:first-child { margin-top: 25px !important; }
    > *:last-child { margin-bottom: 25px !important; }
  }

  @include breakpoint.down('tablet') {
    > * { padding: 0 15px; }
  }

  > h2,
  > footer {
    margin: 15px 0;
  }
}

.repo > p {
  overflow-y: scroll;

  @include breakpoint.down('tablet') {
    margin: 0;
  }
}

.repo > footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  will-change: unset;

  @include breakpoint.down('tablet') {
    align-items: baseline;
    flex-direction: column;

    > * { margin-top: 5px; }
    > *:first-child { margin-top: 0; }
  }
}

.languages ul {
  align-items: center;
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  margin-left: 5px;
  padding: 0;

  > li {
    align-items: center;
    display: inline-flex;

    &::after {
      content: '/';
      display: block;
      font-size: 0.75em;
      margin: 0 2.5px;
    }

    &:last-child::after { display: none; }
  }
}

.date {
  align-items: center;
  display: flex;
  flex-direction: row;

  @include breakpoint.up('tablet') {
    position: absolute;
    right: 25px;
    top: 35px;
  }
}

.links {
  @include breakpoint.down('tablet') {
    bottom: 15px;
    position: absolute;
    right: 15px;
  }

  :global(.icon) {
    height: 24px;
  }
}
