.container {
  flex: 0 0 50%;
  scroll-snap-align: center;
  scroll-snap-stop: normal;
  perspective: 100vw;
  box-sizing: border-box;
}

.repo {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  transition: transform 200ms linear;
  background: thistle;
  box-shadow: 0 0 0 10px black;
}
