@use '~@styles/breakpoint';
@use 'sass:map';

@import '~@styles/theme';

.container {
  box-sizing: border-box;
  height: 75vh;
  margin: 0 auto;
  padding-top: 60px;
  margin: 0 -15px;
  position: relative;
  display: flex;
  align-items: center;
}

.body {
  background-color: $content-bg;
  background-color: linear-gradient(transparent, $content-bg 30%);
  padding: 25px 15px;
  position: relative;
  flex: 1;
}

.languages {
  height: 45vh;
  width: 45vh;
  margin: 0 25px;
}

@include breakpoint.down('tablet') {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
