@use '~@styles/breakpoint';

.container {
  box-sizing: border-box;
  height: 75vh;
  margin: 0 auto;
  max-width: 800px;
  padding-top: 60px;
  position: relative;
}

.languages {
  height: 50vh;
  position: relative;
  width: 50vh;
}

@include breakpoint.down('tablet') {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
