.container {
  position: relative;
  height: 75vh;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 60px;
  box-sizing: border-box;
}

.languages {
  position: relative;
  height: 50vh;
  width: 50vh;
}

@media (--screen-md-max) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
