@use 'sass:color';
@use 'sass:map';

@import 'config/color';
@import 'config/font';

$palette-primary: $palette-pink;

$palette-secondary: $palette-aqua;

$palette-highlight: $palette-aqua;

$overlay-color: #fff;

$content-width: 800px;

$content-bg: map.get($palette-primary, 'lighter');

$content-color: map.get($palette-secondary, 'darker');

$content-highlight: map.get($palette-highlight, 'light');

$content-shadow: 6px;

$title-color: map.get($palette-primary, 'medium');

$title-highlight: map.get($palette-highlight, 'light');
