@use 'sass:string';

$font-family: (
  monospace: string.unquote("'Source Code Pro', monospace"),
  display: string.unquote("'Audiowide', serif"),
  paragraph: string.unquote("'Fira Mono', 'Courier New', Courier, monospace")
) !default;

$color-purple: (
  lighter: #e4d3ff,
  light: #b68fff,
  medium: #6e00ff,
  dark: #381f96,
  darker: #0b082b
) !default;

$color-pink: (
  lighter: #ffd3e2, 
  light: #f096ca, 
  medium: #f74a92, 
  dark: #cc2666, 
  darker: #4d0036
) !default;

$color-aqua: (
  lighter: #d3efff,
  light: #72d6e7,
  medium: #20b2aa,
  dark: #0196aa,
  darker: #003e4d
) !default;

$color-highlight: #fff;
