:root {
  --color-highlight: white;
  --font-heading-monospace: "'Source Code Pro', monospace";
  --font-heading-display: "'Audiowide', serif";
  --font-paragraph: "'Fira Mono', 'Courier New', Courier, monospace";
  --color-purple:
    ( #e4d3ff
    , #b68fff
    , #6e00ff
    , #381f96
    , #00124d
    );
}
