@use 'sass:map';

@import '~@styles/theme';

.heading {
  color: $content-color;
  font-family: map.get($font-family, 'monospace');
  text-shadow: 2.5px 2.5px 0 $content-highlight;
  text-transform: uppercase;
}

.mark {
  background: linear-gradient(transparent 35%, $content-highlight 35%, $content-highlight 100%);
  padding: 0 5px 0.1% 2.5px;
}

.span,
.paragraph {
  color: $content-color;
  position: relative;

  @each $name, $size in $font-size {
    &:global(.font-#{$name}) { font-size: $size; }
  }
  &:global(.bold) { font-weight: bold; }
}
