@use 'sass:map';

@import '@styles/theme.scss';

.mark {
  background: $content-highlight;
  padding: 0 5px 0.1% 2.5px;
}

.heading {
  color: $title-color;
  font-family: map.get($font-family, 'monospace');
  text-shadow: 2.5px 2.5px 0 $title-highlight;
  text-transform: uppercase;

  .mark { background: $title-highlight; }
}

.span,
.paragraph {
  color: $content-color;
  position: relative;

  @each $name, $size in $font-size {
    &:global(.font-#{$name}) { font-size: $size; }
  }
  &:global(.bold) { font-weight: bold; }
}
