$size: 70vh;
$blob-color: #0b005f;
$blob-shadow: #6e00ff;

.blob {
  position: absolute;
  width: $size;
  height: $size;
  top: 50%;
  left: 50%;
  margin-top: calc($size / -2);
  margin-left: calc($size / -2);
  border-radius: 50%;
  overflow: hidden;
  mix-blend-mode: multiply;

  & > div {
    position: absolute;
    border-radius: 50%;
    width: 95%;
    height: 97%;
    top: 1.5%;
    left: 2.5%;
    background: $blob-color;
    opacity: 0.3333;
    will-change: transform;
  }
}

@keyframes blob0 {
  0% {
    transform:
      rotate(0deg)
      scale(1)
      translateY(0);
    box-shadow: 0 0 10vh 0 inset $blob-shadow;
  }

  50% {
    transform:
      rotate(180deg)
      scale(1.04)
      translateY(10px);
    box-shadow: 0 0 30vh 0 inset $blob-shadow;
  }

  100% {
    transform:
      rotate(360deg)
      scale(1)
      translateY(0);
    box-shadow: 0 0 10vh 0 inset $blob-shadow;
  }
}

.blob div:nth-child(1) {
  animation: blob0 linear 5s infinite;
}

@keyframes blob1 {
  0% {
    transform:
      rotate(0deg)
      scale(1.05)
      translateY(0);
    box-shadow: 0 0 15vh 0 inset $blob-shadow;
  }

  50% {
    transform:
      rotate(180deg)
      scale(1)
      translateY(10px);
    box-shadow: 0 0 10vh 0 inset $blob-shadow;
  }

  100% {
    transform:
      rotate(360deg)
      scale(1.05)
      translateY(0);
    box-shadow: 0 0 15vh 0 inset $blob-shadow;
  }
}

.blob div:nth-child(2) {
  animation: blob1 linear 4s infinite;
}

@keyframes blob2 {
  0% {
    transform:
      rotate(0deg)
      scale(1)
      translateY(-10px);
    box-shadow: 0 0 10vh 0 inset $blob-shadow;
  }

  50% {
    transform:
      rotate(180deg)
      scale(1.02)
      translateY(0);
    box-shadow: 0 0 20vh 0 inset $blob-shadow;
  }

  100% {
    transform:
      rotate(360deg)
      scale(1)
      translateY(-10px);
    box-shadow: 0 0 10vh 0 inset $blob-shadow;
  }
}

.blob div:nth-child(3) {
  animation: blob2 linear 3s infinite;
}

.glow {
  position: absolute;
  width: calc($size * 1.1);
  height: calc($size * 1.1);
  top: 50%;
  left: 50%;
  margin-top: calc(($size * 1.1) / -2);
  margin-left: calc(($size * 1.1) / -2);
  filter: blur(50px);
  mix-blend-mode: color-dodge;

  & > div {
    position: absolute;
    width: 90%;
    height: 100%;
    border-radius: 50%;
    will-change: transform;
  }
}

@keyframes glow0 {
  from { transform: rotate(90deg) translate(1vh, 5vh) rotate(-90deg); }
  to { transform: rotate(450deg) translate(1vh, 5vh) rotate(-450deg); }
}

.glow > div:nth-child(1) {
  background: pink;
  width: 100%;
  left: 0;
  animation: glow0 linear 5s infinite;
}

@keyframes glow1 {
  from { transform: rotate(90deg) translate(-1vh, -5vh) rotate(-90deg); }
  to { transform: rotate(450deg) translate(-1vh, -5vh) rotate(-450deg); }
}

.glow > div:nth-child(2) {
  background: lightseagreen;
  right: 0;
  animation: glow1 linear 7s infinite;
}

@keyframes ring {
  0% { transform: rotate(90deg) translate(-2px, 2px) rotate(-90deg); }
  100% { transform: rotate(450deg) translate(-2px, 2px) rotate(-450deg); }
}

.ring {
  position: absolute;
  width: $size;
  height: $size;
  top: 50%;
  left: 50%;
  margin-top: calc($size / -2);
  margin-left: calc($size / -2);
  mix-blend-mode: screen;

  & > div {
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  & > div:nth-child(1) {
    background: $blob-shadow;
    filter: blur(15px);
    animation: ring linear 2s infinite;
    will-change: transform;
  }

  & > div:nth-child(2) {
    background: black;
  }
}
