.carousel {
  width: 100%;
  height: 100%;
  display: flex;

  &.xAxis {
    flex-direction: row;
    overflow-x: overlay;
    overflow-y: hidden;
  }

  &.yAxis {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: overlay;
  }
}

.slide {
  flex: 0 0 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}
