@use 'sass:map';

@import '~@styles/theme';

html,
body {
  font-family: map.get($font-family, 'paragraph');
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  color: $content-color;
  -webkit-overflow-scrolling: touch;
}

:global(#scene) {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

:global(#root) {
  box-sizing: border-box;
  height: auto;
  position: relative;
  width: 100vw;

  & > main {
    perspective-origin: center;
    perspective: 100vh;
    overflow: hidden;
  }
}

:global(#frame) {
  $frame-padding: 10px;
  $frame-border: 4px;
  $frame-color: $overlay-color;

  border: $frame-border solid $frame-color;
  bottom: $frame-padding;
  left: $frame-padding;

  mix-blend-mode: difference;
  pointer-events: none;
  position: fixed;
  right: $frame-padding;
  top: $frame-padding;
  z-index: 1;
}
